* { margin: 0; padding: 0; box-sizing: border-box; }

:root{
    --bg: #a2c9c1;
    --text: #000000;
    --card: #538078;
    --buttons: #3a5a54;
    --header: #557470;
    --h3text: #06272e;

}


body[data-theme="dark"] {
    --bg: #26413c;
    --text: #cddbd9;
    --card: #4d726b;
    --buttons: #668b84;
    --header: #598780;
    --h3text: #b4cbd1;
    
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 20px;
    transition: background .3s, color .3s;
}

h1{
    font-size: 26px;
    color: var(--text);
}

h2{
    font-size: 16px;
    color: var(--text);
}

h3{
    font-size: 14px;
    color: var(--h3text);
}

.dark {
    background: #111;
    color: #eee;
}

header {
    background: var(--header);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--text);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.datos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.data-card{
    background-color: var(--card);
    border-radius: 15px;
    padding: 20px;
}

.perfil {
    display: flex;
    gap: 20px;
    align-items: center;
}

.foto-perfil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border-style: solid;
    border-color: var(--bg);
}

.botones a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: var(--buttons);
    color: var(--text);
    text-decoration: none;
    border-radius: 5px;
}

footer {
    margin-top: 40px;
    padding: 50px;
    background: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-n-mail {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}


.name-n-mail label {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    max-width: 100%; 
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    color: var(--bg);

}

label{
    color: var(--text);
}

.error {
    color: red;
    font-size: 12px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .perfil {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .name-n-mail {
        grid-template-columns: 1fr;
    }
}
